.product{
    background-color: #ffffff;
    padding: 60px;
    max-width: 840px;
    border-radius: 32px;
    overflow: hidden;
    .thumb{
        float: right;
        margin-left: 60px;
    }
    .detail{
        display: table;
        h3{
            font-size: 48px;
            line-height: 50px;
            margin-bottom: 20px;
        }
        p{
            font-size: 24px;
            line-height: 2;
            color: #14142B;
            font-weight: 400;
            margin-top: 0px;
        }
        .btn{
            display: inline-block;
            font-size: 16px;
            line-height: 28px;
            color: $base-color;
            text-decoration: none;
            border: 2px solid #D6D8E7;
            border-radius: 40px;
            padding: 16px 15px;
            min-width: 160px;
            text-align: center;
        }
    }
}