.subscribe{
    background-color: #fff;
    padding: 60px 40px;
    border-radius: 30px;
    max-width: 840px;
    text-align: center;
    h3{
        font-size: 32px;
    }
    p{
        font-size: 24px;
        line-height: 1.5;
        margin-top: 30px;
        margin-bottom: 50px;
    }
    form{
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 530px;
        margin: 0 auto;
        text-align: left;
        .form-group{
            background-color: transparent;
            border: 2px solid #D6D8E7;
            border-radius: 16px;
            padding: 8px 40px 8px 70px;
            position: relative;
            transition: .35s;
            flex: 1;
            input{
                width: 100%;
                padding: 0;
                outline: none;
                border: none;
                font-size: 16px;
            }
            .icon{
                font-size: 30px;
                color: #A0A3BD;
                position: absolute;
                left: 24px;
                top: 20px;
                transition: .35s;
            }
            label{
                font-size: 14px;
                font-weight: 500;
                color: #6E7191;
            }
            .clear{
                color: #A0A3BD;
                font-size: 24px;
                position: absolute;
                top: 20px;
                right: 10px;
                display: none;
                cursor: pointer;
            }
            &.active{ 
                border-color: $base-color;
                background-color: #fff;
                .icon{
                    color: $text-color;
                }
                .clear{
                    display: block;
                }
            }
        }
        .submit-btn{
            background-color: $base-color;
            color: #fff;
            border-radius: 16px;
            border: none;
            outline: none;
            width: 120px;
            display: inline-block;
            margin-left: 24px;
            padding: 16px 15px;
            line-height: 26px;
            cursor: pointer;
        }
    }
}

